div.HVWlink {
	margin-top: 2em;
}

div.HVWlink a.imageLink:link,
div.HVWlink a.imageLink:visited {
	background: transparent;
	}

div.HVWlink a.imageLink:hover,
div.HVWlink a.imageLink:active,
div.HVWlink a.imageLink:focus {
	background: transparent;
	}
	
div.HVWlink a.imageLink {
	float: left;
	margin: 2px 10px;
}
div.HVWlink a.textLink {
	line-height: 1.5;
}

div.HVWlink p {
	line-height: 1.15em;
	margin: 0px 0;
	float: left;
	width: 30em;
}

div.clr {
	clear: both;
}